<div class="col-md-4">
    <form>

        <div class="field-wrap">
            <input ng-model="user.email" 
                   ng-keydown="loginFail = false"
                   type="email" 
                   name="email" 
                   placeholder="Email Address *"/>
        </div>

        <div class="field-wrap">
            <input ng-model="user.password" 
                   ng-keydown="loginFail = false"
                   name="password" 
                   placeholder="Password *" 
                   type="password"/>
        </div>

        <div ng-show="loginFail" 
             id="loginErrorBox">
            <span>Invalid user credentials.</span>
        </div>

        <div>
            <button ng-click="login()">Log In</button>
        </div>

    </form>
</div>